<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>

<h1>Add new Item:</h1>

<body>
    <form method="POST">
        {% csrf_token %}
    <table>
        {{ form }}
    </table>
    <input type="submit" value="Send" >
        <hr>
</form>
</body>

<h1>List of all Items:</h1>
{% for item in items %}
<div>
    <p><a href="{{ item.get_absolut_url }}">{{item.name}}</a></p>
    <div>{{item.description}}</div>
    <div>{{item.price}}</div>
    <div>{{item.quantity}}</div>
    <hr>
</div>
{% endfor %}

</body>
</html>